.titles{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}
.titles h1{
    font-size: 45px;
    color: var(--secundary-color);
    font-weight: 600;
}
.titles h2{
    font-size: 25px;
    color: rgb(131, 131, 131);
    font-weight: 600;
}
.img{
    width: 1194px;
    height: 663px;
    border-radius: 30px;
    margin-top: 20px;
    border: var(--main) solid 3px;
}
.align {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.projetointeragir{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    height: fit-content;
}
.bar{
    width: 366px;
    height: 3px;
    background-color: var(--main);
}
.buttons{
    display: flex;
    
    align-items: center;
}
.view{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary-color);
    font-size: 35px;

    cursor: pointer;
    width: 150px;
    height: 66px;
    background-color: var(--main);
    border-radius: 27px;
}
.code{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary-color);
    font-size: 35px;

    cursor: pointer;
    width: 150px;
    height: 66px;
    background-color: var(--main);
    border-radius: 27px;
}
.projetotextoAlign{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0 40px;
}
.projetotexto{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1200px;
    height: fit-content;
    font-size: 20px;
    color: var(--secundary-color);
}
.projetotexto p{
    font-size: 20px;
    color: var(--secundary-color);
}
@media (max-width: 1230px){
    .titles h1{
        font-size: 40px;
        color: var(--secundary-color);
        font-weight: 600;
    }
    .titles h2{
        font-size: 20px;
        color: rgb(131, 131, 131);
        font-weight: 600;
    }
    .img{
        width: 740px;
        height: 436px;
    }
    .projetointeragir{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 740px;
        height: fit-content;
    }
    .bar{
        width: 227px;
        height: 3px;
        background-color: var(--main);
    }
    .view{
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--primary-color);
        font-size: 23px;
    
        cursor: pointer;
        width: 93px;
        height: 41px;
        background-color: var(--main);
        border-radius: 20px;
    }
    .code{
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--primary-color);
        font-size: 23px;
    
        cursor: pointer;
        width: 93px;
        height: 41px;
        background-color: var(--main);
        border-radius: 20px;
    }
    .projetotexto{
        width: 740px;
        height: fit-content;
        color: var(--secundary-color);
    }
    .projetotexto p{
        font-size: 19px;
    }
}
@media (max-width: 760px){
    .titles h1{
        font-size: 20px;
        color: var(--secundary-color);
        font-weight: 600;
    }
    .titles h2{
        font-size: 10px;
        color: rgb(131, 131, 131);
        font-weight: 600;
    }
    .img{
        width: 320px;
        height: 188px;
    }
    .projetointeragir{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 320px;
        height: fit-content;
    }
    .bar{
        width: 98px;
        height: 3px;
        background-color: var(--main);
    }
    .view{
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--primary-color);
        font-size: 15px;
    
        cursor: pointer;
        width: 41px;
        height: 18px;
        background-color: var(--main);
        border-radius: 15px;
    }
    .code{
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--primary-color);
        font-size: 15px;
    
        cursor: pointer;
        width: 41px;
        height: 18px;
        background-color: var(--main);
        border-radius: 15px;
    }
    .projetotexto{
        width: 320px;
        height: fit-content;
        color: var(--secundary-color);
    }
    .projetotexto p{
        font-size: 13px;
    }
}